<div class="container contact">

  <h2 class="h1-responsive font-weight-bold text-center my-4">
  	{{ 'SYSTEM.CONTACT.TITLE' | translate }}
  </h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">
  	{{ 'SYSTEM.CONTACT.MESSAGE' | translate }}
  </p>
  <hr class="star-divider" style="background-image: url('assets/img/com/hr_star.png');">

  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group list-group-flush">
            	<li class="list-group-item">
            		<h4>{{ 'SYSTEM.CONTACT.METHOD.FACEBOOK.FULL' | translate }}</h4>
            		<a href="https://www.facebook.com/chenhao.chan" target="_blank">
            			{{ 'SYSTEM.CONTACT.METHOD.FACEBOOK.CONTENT' | translate }}
            		</a>
            	</li>
            	<li class="list-group-item">
            		<h4>{{ 'SYSTEM.CONTACT.METHOD.LINE.FULL' | translate }}</h4> 
          			<a href="javascript:void(0):">
          				{{ 'SYSTEM.CONTACT.METHOD.LINE.CONTENT' | translate }}
          			</a>
            	</li>
            	<li class="list-group-item">
            		<h4>{{ 'SYSTEM.CONTACT.METHOD.PHONE.FULL' | translate }}</h4>
            		<span>{{ 'SYSTEM.CONTACT.METHOD.PHONE.CONTENT' | translate }}</span>
            	</li>
            </ul>
            
          </div>
        </div>

      </div>
      <!--Grid column-->

  </div>

</div>